<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Spek - A Kotlin Specification Framework for the JVM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/stylesheets/github-light.css" media="screen">
</head>
<body>
<section class="page-header">
    <h1 class="project-name">Spek</h1>
    <h2 class="project-tagline">A Kotlin Specification Framework for the JVM</h2>
    <a href="{{ site.baseurl }}" class="btn">Home</a>
    <a href="{{ site.baseurl }}/docs/latest" class="btn">Docs</a>
    <a href="{{ site.baseurl }}/downloads" class="btn">Downloads</a>
    <a href="https://github.com/JetBrains/spek" class="btn">View on GitHub</a>
    <div>Current Version {{ site.data.releases.latest.version }}</div>
</section>

<section class="main-content">
{{ content }}
</section>
{{ site.footer }}
</body>
</html>
