<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Spek by JetBrains</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="stylesheets/normalize.css" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
</head>
<body>
<section class="page-header">
    <a href="/"><h1 class="project-name">Spek</h1></a>
    <h2 class="project-tagline">A Specification Framework for Kotlin</h2>
    <a href="/docs" class="btn">Docs</a>
    <a href="/download" class="btn">Download</a>
    <a href="https://github.com/JetBrains/spek" class="btn">View on GitHub</a>
    <div>version {{ site.version }}</div>
</section>

<section class="main-content">
{{ content }}
</section>
</body>
</html>
