name: Check PR - intellij-idea-plugins
on:
  pull_request:
    paths:
      - 'spek-ide-plugin-intellij-base/**'
      - 'spek-ide-plugin-intellij-base-jvm/**'
      - 'spek-ide-plugin-interop-jvm/**'
      - 'spek-ide-plugin-intellij-idea/**'
      - 'build.gradle.kts'
      - 'buildSrc/build.gradle.kts'
      - 'gradle.properties'
      - '.github/workflows/check-pr-idea-plugin.yaml'

jobs:
  build:
    strategy:
      matrix:
        ij_sdk: [IJ193, IJ201, IJ202]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 1000
      - run: git fetch --depth=1000 origin +refs/tags/*:refs/tags/*
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: eskatos/gradle-command-action@v1
        with:
          arguments: spek-ide-plugin-intellij-idea:build -Pij.version=${{ matrix.ij_sdk }}
